{% extends "master/base.html" %}
{% load humanize %}

{% block content %}
<div id="subnav" class="subnav-course">
  <div class="subnav-inner">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="{% url 'app:index' %}"><i class="fa fa-home"></i></a></li>
        <li class="active">คอร์สอบรม</li>
      </ul>
      <h1>คอร์สอบรม</h1>
    </div>
  </div>
</div>
<section>
  <div class="container">
    {% if tag %}
      <h3>Tag : {{ tag.name }}</h3>
    {% endif %}
    <div class="row">
      <div class="col-md-9">
        {% for c in courses %}
        <div class="course-list">
          <div class="row">
            <div class="col-md-4">
              <img src="{{ c.image.url }}" alt="{{ c.name }}" class="img-responsive">
            </div>
            <div class="col-md-8">
              <h3><a href="{% url 'course:detail' slug=c.slug %}?id={{ request.GET.id }}">{{ c.name }}</a></h3>
              <div class="subtext">
                <div class="pull-left">
                  <span><strong>รหัส:</strong> {{ c.code }}</span>
                  <span><strong>ระยะเวลา:</strong> {{ c.hours }} ชั่วโมง ({{ c.days }} วัน)</span>
                </div>
                <div class="pricing">
                  <strong>{{ c.price|floatformat:0|intcomma }} ฿</strong>
                </div>
              </div>
              <div class="preview">{{ c.title|truncatewords:10 }}</div>
              <div class="footer">
                <a href="{% url 'course:detail' slug=c.slug %}?id={{ request.GET.id }}" class="btn btn-success">ดูรายละเอียด</a>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <h4>ไม่พบข้อมูลคอร์สอบรม</h4>
        {% endfor %}
      </div>
      <div class="col-md-3">
        <div class="list-group list-course">
          <a href="{% url 'course:index' %}" class="list-group-item {% if request.GET.id is None or request.GET.id == "" %}active{% endif %}">คอร์สอบรมทั้งหมด</a>
          {% for c in categories %}
          <a href="{% url 'course:index' %}?id={{ c.id }}" class="list-group-item {% if request.GET.id|add:0 == c.id %}active{% endif %}">{{ c.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
