h1,h2,h3 {
  font-family: 'rsu_bold', sans-serif;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

.btn-lg {
  font-size: 20px;
  font-family: 'rsu_bold', sans-serif;
}

body {
  color: #555;
  line-height: 1.8em;
  background-color: #eee;
  font-family: 'THSarabunNew', sans-serif;
}

/**/
#nav {
  z-index: 0;
}

#nav.navbar-default {
  margin: 0;
  border: none;
  background-color: #fff;
}

#nav.navbar-default .navbar-brand img {
  height: 24px;
  margin: 5px 0;
  image-rendering: -webkit-optimize-contrast;
}

#nav.navbar-default .navbar-brand .subtext {
  margin-top: 8px;
  color: #bbb;
  font-size: 12px;
}

#nav.navbar-default .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 18px;
  border-bottom: 2px solid transparent;
}

#nav.navbar-default .navbar-nav > li:hover > a {
  color: #d31a1a;
}

#nav.navbar-default .navbar-nav > .active > a,
#nav.navbar-default .navbar-nav > .active > a:hover,
#nav.navbar-default .navbar-nav > .active > a:focus {
  color: #d31a1a;
  border-bottom-color: #d31a1a;
  background-color: #fff;
}

@media screen and (max-width: 980px) {
  #nav.navbar-default .navbar-brand img {
    margin: 0;
  }

  #nav.navbar-default .navbar-brand .subtext {
    display: none;
  }
}

#header {
  margin: 0;
  border: none;
  background-color: transparent;
}

#header .login-link {
  display: block;
  padding: 15px 0;
}

/**/
#subnav {
  margin: 0;
}

#subnav .breadcrumb {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
}

#subnav .breadcrumb li a {
  color: #bbb;
  text-decoration: none;
}

#subnav .breadcrumb li a:hover {
  color: #fff;
}

#subnav .breadcrumb .active {
  color: #ccc;
}

#subnav h1 {
  margin: 20px 0;
  color: #fff;
  text-align: center;
}

/**/
.subnav-inner {
  padding: 20px 0;
  background-color: rgba(10, 10, 10, 0.4);
}

.subnav-course {
  background: url('/static/img/paralax/course.jpg') no-repeat;
  background-size: cover;
}

.subnav-book {
  background: url('/static/img/paralax/book.jpg') no-repeat;
  background-size: cover;
}

.subnav-service {
  background: url('/static/img/paralax/service.jpg') no-repeat;
  background-size: cover;
}

.subnav-blog {
  background: url('/static/img/paralax/blog.jpg') no-repeat;
  background-size: cover;
}

.subnav-jobs {
  background: url('/static/img/paralax/jobs.jpg') no-repeat;
  background-size: cover;
}

.subnav-about {
  background: url('/static/img/paralax/about.jpg') no-repeat;
  background-size: cover;
}

.subnav-online {
  background: url('/static/img/paralax/online.jpg') no-repeat;
  background-size: cover;
}

/**/
.nav-tabs {
  margin-bottom: 40px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #eee;
}

/**/
section {
  margin: 60px 0 80px 0;
}

section h1 {
  text-align: center;
  margin-bottom: 20px;
}

section .container h1 {
  text-align: left;
  margin-bottom: 40px;
}

section .lead {
  line-height: 1.8em;
  font-size: 20px;
  margin-bottom: 40px;
}

/**/
.btn {
  border-radius: 0;
}

/**/
.course-list {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.course-list h3 {
  margin: 10px 0;
}

.course-list h3 a {
  color: #555;
  text-decoration: none;
}

.course-list h3 a:hover {
  color: #d40c0c;
}

.course-list .subtext {
  width: 100%;
  display: inline-block;
  clear: both;
  line-height: 32px;
}

.course-list .subtext .pricing {
  float: right;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.course-list .subtext .pricing strong {
  color: #008000;
}

.course-list .preview {
  margin-bottom: 15px;
}

.course-list .footer {
  width: 100%;
  clear: both;
  display: inline-block;
  margin-bottom: 10px;
}

.course-list .footer .hilight {
  padding: 2px 10px;
  font-size: 18px;
  background-color: #ddd;
}

/**/
#course {
  padding: 40px 0;
}

#course h1 {
  margin-bottom: 40px;
}

#course .image {
  margin-bottom: 40px;
}

#course .form-group {
  margin-top: 40px;
}

#course .panel ul {
  margin-bottom: 20px;
}

#course .panel li {
  padding: 2px 0;
  line-height: 22px;
}

#course .bank-list {
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

#course .bank-list img {
  width: 22px;
  margin-right: 5px;
}

#course .bank-list li {
  padding: 5px 0;
}

#course .tags {
  margin: 0;
  padding: 0;
  list-style: none;
}

#course .tags li {
  padding: 2px 0;
  display: inline-block;
}

#course .tags li a {
  display: block;
  padding: 6px 12px;
  color: #555;
  background-color: #ddd;
  text-decoration: none;
}

#course .tags li a:hover {
  color: #fff;
  background-color: #aaa;
}

#course .check-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#course .check-list li {
  padding: 5px 0;
}

#course .check-list li .fa {
  margin-right: 2px;
}

#course .course-link {
  margin: 0;
  padding: 0;
  list-style: none;
}

#course .course-link li {
  padding: 10px 0;
}

#course .course-link li a {
  display: block;
  overflow: hidden;
  color: #555;
  text-decoration: none;
}

#course .course-link li:hover a .item > strong {
  color: #d40c0c;
}

#course .course-link img {
  float: left;
  width: 100px;
  margin-right: 15px;;
}

#course .course-link .item {
  overflow: hidden;
}

#course .profile {
  overflow: hidden;
  margin: 20px 0;
}

#course .profile .caption {
  margin-bottom: 10px;
}

#course .profile .profile-item {
  overflow: hidden;
}

#course .profile img {
  float: left;
  width: 100px;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 15px;
}

#course .pricing {
  margin-bottom: 20px;
}

#course .pricing span {
  color: #c30;
  font-family: 'Open Sans', sans-serif;
}

#course .remark {
  margin-top: 20px;
}

#course .flowplayer {
  border-radius: 0;
  margin: 0;
}

#course .remark {
  margin-top: 20px;
}

#course .table-playlist thead tr th {
  color: #fff;
  background-color: #999;
  border-bottom: none;
}

#course .table-playlist tbody tr td {
  height: 42px;
  vertical-align: middle;
}

#course .table-playlist tbody tr td:nth-child(3) {
  width: 15%;
}

#course .table-playlist tbody tr td:last-child {
  width: 10%;
}

#course .table-playlist tbody .active td:first-child {
  color: #d31a1a;
}

#course .table-playlist .fa-play-circle-o {
  color: #777;
  font-size: 24px;
}

#course .table-book {
  width: 100%;
  margin-bottom: 20px;
}

#course .table-book tr td {
  padding: 8px 15px;
}

#course .table-book tr td:first-child {
  width: 20%;
  min-width: 100px;
  font-weight: bold;
  padding-left: 0;
}

/**/
.online {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 40px;
}

.online .image {
  overflow: hidden;
  position: relative;
}

.online .image img {
  width: 100%;
}

.online .image .label {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1000;
  border-radius: 0 !important;
  font-family: 'Open Sans', sans-serif;
}

.online h4 {
  line-height: 26px;
}

.online h4 a {
  color: #555;
  text-decoration: none;
}

.online h4 a:hover {
  color: #d40c0c;
}

.online .content {
  padding: 10px;
}

.online .preview {
  margin-bottom: 25px;
}

.online .footer {
  width: 100%;
  clear: both;
  display: inline-block;
  line-height: 32px;
  margin-top: 10px;
}

.online .footer .pricing {
  float: right;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.online .footer .price-green {
  color: #008000;
}

.online .footer .price-red {
  color: #c30;
}

.online a.video {
  float: left;
  position: relative;
}

.online a.video span {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("/static/img/icons/play-btn.png") no-repeat;
  background-position: 50% 50%;
  background-size: 200%;
}

/**/
.feature-sm {
  margin: 20px 0;
}

.feature-sm h4 {
  color: #aa0808;
  text-align: center;
  margin-bottom: 20px;
}

.feature-sm .icon {
  margin: 20px 0;
  color: #aa0808;
  text-align: center;
}

/**/
.map {
  width: 100%;
  display:inline-block; overflow:hidden;
}

.map iframe {
  top: -50px;
  position: relative;
}

/**/
.box {
  margin-bottom: 60px;
}

.box h2 {
  margin-bottom: 40px;
}

.box p {
  padding: 5px 0;
}

.box a {
  color: #aa0808;
}

.box .contact {
  margin-bottom: 30px;
}

.box .contact h4 {
  margin-bottom: 10px;
}

.box .contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.box .heading {
  text-align: center;
}

.box .heading h1 {
  font-size: 38px;
}

/**/
.panel {
  margin-bottom: 20px;
}

.panel img {
  image-rendering: -webkit-optimize-contrast;
}

.panel .mce-style {
  padding: 0;
}

.panel .mce-style ul {
  margin-bottom: 20px;
}

.panel .mce-style ul li {
  padding: 2px 0;
  line-height: 22px;
}

.panel .panel-heading a {
  color: #555;
  text-decoration: none;
}

.panel .panel-heading a:hover {
  color: #d60404;
}

.panel .panel-heading a[aria-expanded="true"] {
  color: #d60404 !important;
}

.panel .panel-heading .collapsed {
  color: #555 !important;
}

.panel-group .panel:first-child .panel-heading a {
  color: #d60404;
}

/**/
.radio-group {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.radio-group li {
  display: inline-block;
  margin-right: 15px;
}

.radio-group li:last-child {
  margin-right: 0;
}

/**/
.book {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 40px;
}

.book h3 {
  margin: 10px 0;
  font-size: 22px;
}

.book h3 a {
  color: #555;
  text-decoration: none;
}

.book h3 a:hover {
  color: #d40c0c;
}

.book .title {
  margin-top: 15px;
  margin-bottom: 10px;
}

.book .subtext {
  width: 100%;
  display: inline-block;
  clear: both;
  margin-top: 10px;
}

.book .pricing {
  float: right;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #008000;
}

/**/
.list-course {
  margin-bottom: 40px;
}

.list-course .list-group-item:hover {
  background-color: #f9f9f9;
}

.list-course .active {
  color: #d31a1a !important;
  background-color: #fff !important;
  border-color: #ddd !important;
}
