{% extends "master/base.html" %}
{% load humanize widget_tweaks %}

{% block content %}
<div id="subnav" class="subnav-book">
  <div class="subnav-inner">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="{% url 'app:index' %}"><i class="fa fa-home"></i></a></li>
        <li><a href="{% url 'book:index' %}">หนังสือ</a></li>
        <li><a href="{% url 'book:detail' slug=book.slug %}">{{ book.code }}</a></li>
        <li class="active">การสั่งซื้อ</li>
      </ul>
      <h1>สั่งซื้อหนังสือ</h1>
    </div>
  </div>
</div>
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>ตะกร้าสินค้า</h1>
        <table class="table table-bordered table-cart">
          <thead>
            <tr>
              <th width="15%">รหัสสินค้า</th>
              <th>ชื่อสินค้า</th>
              <th>จำนวน</th>
              <th style="text-align:right" width="18%">ราคา/หน่วย</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ book.code }}</td>
              <td>หนังสือ<br>{{ book.name }} / {% if request.GET.type == 'paper' %}(หนังสือเล่ม){% else %}e-Book [PDF]{% endif %}</td>
              <td align="right">
                <select name="qty" id="qty" class="form-control">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                </select>
              </td>
              <td align="right" style="font-family:'Open Sans'">{% if request.GET.type == 'paper' %}<strong>{{ book.price|floatformat:0|intcomma }}</strong>{% else %}<strong>{{ book.price_ebook|floatformat:0|intcomma }}</strong>{% endif %}</td>
            </tr>
          </tbody>
        </table>
        <h3>รวมเป็นเงินทั้งสิ้น <span id="totallabel" style="color:#c30">2500.00</span> บาท</h3>
      </div>
      <div class="col-md-5">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
              <strong>ข้อมูลการสั่งซื้อ</strong>
            </div>
          </div>
          <div class="panel-body">
            <form action="{% url 'book:checkout' slug=book.slug %}" method="post" id="checkoutform">
              {% csrf_token %}
              <input type="hidden" id="id" name="id" value="{{ book.id }}">
              <input type="hidden" id="type" name="type" value="{{ request.GET.type }}">
              <input type="hidden" id="price" name="price" value="{% if request.GET.type == 'paper' %}{{ book.price }}{% else %}{{ book.price_ebook}}{% endif %}">
              <input type="hidden" id="amount" name="amount">
              <input type="hidden" id="unit" name="unit">
              <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                <label>ชื่อ <span class="asteriskField">*</span></label>
                {% render_field form.name class="form-control" placeholder="ชื่อของท่าน" value=user.username %}
                <span class="help-block">
                  {% for error in form.name.errors %}{{ error }}{% endfor %}
                </span>
              </div>
              <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                <label>อีเมล <span class="asteriskField">*</span></label>
                {% render_field form.email class="form-control" placeholder="กรอกอีเมล" value=user.email %}
                <span class="help-block">
                  {% for error in form.email.errors %}{{ error }}{% endfor %}
                </span>
              </div>
              <div class="form-group">
                <label>เบอร์โทรศัพท์</label>
                {% render_field form.phone class="form-control" placeholder="เบอร์ติดต่อ" %}
              </div>
              <div class="form-group">
                <label>สถานที่จัดส่ง</label>
                {{ form.address|attr:"class:form-control"|attr:"rows:4"|attr:"placeholder:กรอกที่อยู่เพื่อจัดส่งสินค้า" }}
              </div>
            </form>
          </div>
          <div class="panel-footer" style="overflow:hidden">
            <div class="pull-left">
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypalform">
                <input type="hidden" name="cmd" value="_xclick">
                <input TYPE="hidden" name="charset" value="utf-8">
                <input type="hidden" name="hosted_button_id" value="PM5MMZ7JL9EZC">
                <input type="hidden" name="business" value="appcodetraining@gmail.com">
                <input type="hidden" name="currency_code" value="THB">
                <input type="hidden" name="item_name" value="{{ book.name }}">
                <input type="hidden" id="_qty" name="quantity" value="0">
                <input type="hidden" id="_amount" name="amount" value="0">
                <input type="image" src="https://www.paypalobjects.com/th_TH/TH/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - วิธีชำระเงินแบบออนไลน์ที่ปลอดภัยกว่าและง่ายกว่า!">
              </form>
            </div>
            <a href="#" class="btn btn-success btn-lg pull-right" id="btnregister"><i class="fa fa-check"></i> สั่งซื้อหนังสือ</a>
          </div>
        </div>
        <a href="{% url 'book:detail' slug=book.slug %}" style="text-decoration:none"><i class="fa fa-chevron-left"></i> กลับหน้าที่แล้ว</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function calPrice() {
    var qty = parseInt($('#qty').val(), 10);
    var price = parseFloat($('#price').val() || '0');
    return qty * price;
  }

  function formatNumber(v) {
    return v.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
  }

  function displayPrice() {
    var total = calPrice();
    $('#amount').val(total);
    $('#totallabel').html(formatNumber(total + ''));
  }

  $(function () {
    $('input[name="name"]').focus();
    displayPrice();

    $('#qty').on('change', function () {
      displayPrice();
    });

    $('#paypalform').on('submit', function () {
      $('#_qty').val($('#qty').val());
      $('#_amount').val($('#price').val());
    });

    $('#btnregister').on('click', function () {
      $('#unit').val($('#qty').val());
      $('#checkoutform').submit();
    });
  });
</script>
{% endblock %}
