{% extends "master/base.html" %}
{% load humanize %}

{% block content %}
<div id="banner">
  <div id="carousel-example-generic" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1 data-animation="animated fadeInLeft"><span class="light">บริการฝึกอบรม</span></h1>
              <h3 data-animation="animated fadeInRight">สอนเขียนโปรแกรม ทำโมบายแอพ ทำเว็บไซต์ และให้คำปรึกษาโปรเจ็กต์</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1 data-animation="animated fadeInLeft">ลด <span class="light">10%</span> ทุกหลักสูตร</h1>
              <h3 data-animation="animated fadeInRight">เมื่อเรียนตั้งแต่ 5 คนขึ้นไป หรือเรียนต่อเนื่อง 2 คอร์ส</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1 data-animation="animated fadeInLeft"><span class="light">อบรมนอกสถานที่</span></h1>
              <h3 data-animation="animated fadeInRight">สามารถเดินทางมาอบรมที่สถาบัน หรือไปที่หน่วยงานของท่าน</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1 data-animation="animated fadeInLeft"><span class="light">เรียนเป็นกลุ่มย่อย</span></h1>
              <h3 data-animation="animated fadeInRight">หากท่านติดปัญหา สามารถสอบถามวิทยากรได้ทันที</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1 data-animation="animated fadeInLeft"><span class="light">เน้นการเรียนแบบปฏิบัติ</span></h1>
              <h3 data-animation="animated fadeInRight">เราเตรียม Workshop ในทุกหลักสูตร เพื่อทดลองสร้างงานจริง</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--./banner-->
<section>
  <h1>บริการของเรา</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="feature">
          <div class="icon">
            <i class="fa fa-book fa-3x"></i>
          </div>
          <h3>Dev Training</h3>
          <div class="caption">เราให้บริการอบรมการเขียนโปรแกรม ด้วยหลักสูตรโมบายแอพ เว็บแอพลิเคชั่น การสร้างเว็บไซต์ และหลักสูตร IOT โดยเน้นที่การปฏิบัติ โดยวิทยากรผู้มีประสบการณ์ สามารถอบรมเป็นกลุ่มย่อยทั้งในและนอกสถานที่</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <div class="icon">
            <i class="fa fa-cloud fa-3x"></i>
          </div>
          <h3>Software on Cloud</h3>
          <div class="caption">บริการซอฟท์แวร์สำเร็จรูปบน Cloud ที่พร้อมใช้งานได้ทันทีโดยไม่ต้องติดตั้ง เหมาะกับธุรกิจขนาดกลางและขนาดเล็ก (SME) ที่ต้องการซอฟท์แวร์เพื่อช่วยบริหารจัดการธุรกิจ ที่มีราคาย่อมเยา ใช้งานง่าย และสามารถทำงานได้ทุกที่ทุกเวลา</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <div class="icon">
            <i class="fa fa-code fa-3x"></i>
          </div>
          <h3>System Integration</h3>
          <div class="caption">รับพัฒนาแอพลิเคชั่นตามความต้องการของลูกค้า ด้วยทีมงานที่มีประสบการณ์ในการพัฒนาระบบการขาย ระบบคลังสินค้า ระบบจัดซื้อ และร้านค้าออนไลน์ โดยสามารถทำงานได้ทั้งบนเว็บและโมบาย</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <h1 style="margin-bottom:40px">คอร์สที่เปิดอบรม</h1>
  <div class="container">
    {% regroup course_opens by course as course_open_list %}
    {% for c in course_open_list %}
    <div class="course-list  wow fadeInLeft">
      <div class="row">
        <div class="col-md-4">
          <img src="{{c.grouper.image.url}}" alt="{c.grouper.name}}" class="img-responsive">
        </div>
        <div class="col-md-8">
          <h3><a href="{% url 'course:detail' slug=c.grouper.slug %}?id={{ request.GET.id }}">{{c.grouper.name}}</a></h3>
          <div class="subtext">
            <div class="pull-left">
              <span><strong>รหัส:</strong> {{c.grouper.code}}</span>
              <span><strong>ระยะเวลา:</strong> {{c.grouper.hours}} ชั่วโมง ({{c.grouper.days}} วัน)</span>
            </div>
            <div class="pricing">
              <strong>{{ c.list.0.price|floatformat:0|intcomma }} ฿</strong>
            </div>
          </div>
          <div class="preview">{{ c.grouper.title|truncatewords:15 }}</div>
          <div class="footer">
            <div class="hilight pull-left">{{ c.list.0.times }}</div>
            <a href="{% url 'course:detail' slug=c.grouper.slug %}?id={{ request.GET.id }}" class="btn btn-success pull-right">ลงทะเบียน</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section>
    <h1 style="margin-bottom:40px">ตารางการอบรม</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1"><iframe src="https://calendar.google.com/calendar/embed?src=bl78784ggrshopnhp6sesg4o74%40group.calendar.google.com&ctz=Asia%2FBangkok" style="border: 0" width="100%" height="550" frameborder="0" scrolling="no"></iframe></div>
      </div>
    </div>
  </section>
<section>
  <h1 style="margin-bottom:40px">คอร์สออนไลน์ล่าสุด</h1>
  <div class="container">
    {% for v in videos %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-md-3">
      <div class="online">
        <div class="image">
          {% if v.premium %}
            <span class="label label-warning">แนะนำ</span>
          {% endif %}
          {% if v.image %}
            <img src="{{ v.image.url }}" alt="{{ v.name }}">
          {% endif %}
        </div>
        <div class="content">
          <h4><a href="{% url 'online:detail' slug=v.slug %}">{{ v.name }}</a></h4>
          <div class="preview">{{ v.title }}</div>
          <span><i class="fa fa-book"></i> {{ v.lessons }} บทเรียน</span>
          <div class="footer">
            <a href="{% url 'online:detail' slug=v.slug %}" class="btn btn-success pull-left">เข้าสู่บทเรียน</a>
            <span class="pricing {% if v.price > 0 %}price-green{% else%}price-red{% endif %}">
              {% if v.price > 0 %}{{ v.price|floatformat:0|intcomma }} ฿{% else %}เรียนฟรี{% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
  {% endfor %}
  </div>
</section>
<section>
  <h1>หน่วยงานที่ฝึกอบรมกับเรา</h1>
  <div class="container">
    <ul class="cust-logo">
      <li><a href="https://www.egat.co.th/" target="_blank"><img src="/static/img/customer/egat.png"></a></li>
      <li><a href="http://www.kongkiat.com/" target="_blank"><img src="/static/img/customer/kongkiat.png"></a></li>
    </ul>
  </div>
</section>
{% endblock %}
