{% extends "master/base.html" %}

{% block content %}
<div id="banner">
  <div id="carousel-example-generic" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1 data-animation="animated fadeInLeft"><span class="light">บริการฝึกอบรม</span></h1>
              <h3 data-animation="animated fadeInRight">สอนเขียนโปรแกรม ทำโมบายแอพ ทำเว็บไซต์ และให้คำปรึกษาโปรเจ็กต์</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1 data-animation="animated fadeInLeft">ลด <span class="light">10%</span> ทุกหลักสูตร</h1>
              <h3 data-animation="animated fadeInRight">เมื่อเรียนตั้งแต่ 5 คนขึ้นไป หรือเรียนต่อเนื่อง 2 คอร์ส</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1 data-animation="animated fadeInLeft"><span class="light">อบรมนอกสถานที่</span></h1>
              <h3 data-animation="animated fadeInRight">สามารถเดินทางมาอบรมที่สถาบัน หรือไปที่หน่วยงานของท่าน</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1 data-animation="animated fadeInLeft"><span class="light">เรียนเป็นกลุ่มย่อย</span></h1>
              <h3 data-animation="animated fadeInRight">หากท่านติดปัญหา สามารถสอบถามวิทยากรได้ทันที</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1 data-animation="animated fadeInLeft"><span class="light">เน้นการเรียนแบบปฏิบัติ</span></h1>
              <h3 data-animation="animated fadeInRight">เราเตรียม Workshop ในทุกหลักสูตร เพื่อทดลองสร้างงานจริง</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--./banner-->
<section class="light">
  <div class="container">
    <h1>บริการของเรา</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="feature">
          <div class="icon">
            <i class="fa fa-book fa-3x"></i>
          </div>
          <h3>Dev Training</h3>
          <div class="caption">เราให้บริการอบรมการเขียนโปรแกรม ด้วยหลักสูตรโมบายแอพ เว็บแอพลิเคชั่น การสร้างเว็บไซต์ และหลักสูตร IOT โดยเน้นที่การปฏิบัติ โดยวิทยากรผู้มีประสบการณ์ สามารถอบรมเป็นกลุ่มย่อยทั้งในและนอกสถานที่</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <div class="icon">
            <i class="fa fa-cloud fa-3x"></i>
          </div>
          <h3>Software on Cloud</h3>
          <div class="caption">บริการซอฟท์แวร์สำเร็จรูปบน Cloud ที่พร้อมใช้งานได้ทันทีโดยไม่ต้องติดตั้ง เหมาะกับธุรกิจขนาดกลางและขนาดเล็ก (SME) ที่ต้องการซอฟท์แวร์เพื่อช่วยบริหารจัดการธุรกิจ ที่มีราคาย่อมเยา ใช้งานง่าย และสามารถทำงานได้ทุกที่ทุกเวลา</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <div class="icon">
            <i class="fa fa-code fa-3x"></i>
          </div>
          <h3>System Integration</h3>
          <div class="caption">รับพัฒนาแอพลิเคชั่นตามความต้องการของลูกค้า ด้วยทีมงานที่มีประสบการณ์ในการพัฒนาระบบการขาย ระบบคลังสินค้า ระบบจัดซื้อ และร้านค้าออนไลน์ โดยสามารถทำงานได้ทั้งบนเว็บและโมบาย</div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
