{% extends "master/base.html" %}

{% block title %}ร่วมงานกับเรา | แอพโค้ด เทคโนโลยี จำกัด | สถาบันสอนเขียนโปรแกรม เรียนทำโมบายแอพ เรียนเว็บแอพลิเคชั่น เรียน IOT บริการอบรมทั้งในและนอกสถานที่{% endblock %}

{% block content %}
<div id="subnav" class="subnav-jobs">
  <div class="subnav-inner">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="{% url 'app:index' %}"><i class="fa fa-home"></i></a></li>
        <li class="active">สมัครงาน</li>
      </ul>
      <h1>ร่วมงานกับเรา</h1>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="lead">"แอพโค้ด" บริษัทคนรุ่นใหม่ ที่ทำธุรกิจเกี่ยวกับการฝึกอบรมและพัฒนาซอฟท์แวร์ เรากำลังมองหาทีมงาน ที่ร่วมสร้างความเติบโตอย่างยั่งยืนไปด้วยกัน มีรายละเอียดดังนี้</div>
      </div>
    </div>
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#position" data-toggle="tab">ตำแหน่งที่เปิดรับ</a></li>
      <li><a href="#teacher" data-toggle="tab">สมัครเป็นอาจารย์ผู้สอน</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="position">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1"><strong>เจ้าหน้าที่ธุรการ</strong></a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="mce-style">
                  <h4>หน้าที่รับผิดชอบ</h4>
                  <ul>
                    <li>รับผิดชอบงานด้านงานเอกสารของบริษัท รับเรื่องจากลูกค้าผ่านโทรศัพท์ ประสานงานอาจารย์ ลงเวลาและจัดตารางการอบรม</li>
                  </ul>
                  <h4>คุณสมบัติหลัก</h4>
                  <ul>
                    <li>การศึกษาระดับ ปวส.ขึ้นไป</li>
                    <li>เพศหญิง</li>
                    <li>สามารถใช้คอมพิวเตอร์เบื้องต้นได้ดี</li>
                    <li>พิมพ์เอกสารได้คล่อง</li>
                    <li>โปรแกรม MS Office ด้านเอกสารและอื่นๆ ได้ดี</li>
                    <li>สามารถพูดคุยกับลูกค้า-โน้มน้าวลูกค้าได้ดี</li>
                    <li>มีประสบการณ์จะพิจารณาเป็นพิเศษ</li>
                  </ul>
                  <h4>สถานที่ทำงาน</h4>
                  <ul>
                    <li>บริษัท แอพโค้ด เทคโนโลยี จำกัด</li>
                  </ul>
                  <h4>เงินเดือน</h4>
                  <ul>
                    <li>10,000 - 14,000 บาท ขึ้นอยู่กับประสบการณ์</li>
                  </ul>
                  <h4>การสมัครงาน</h4>
                  <span>ส่ง Resume หรือ CV ของคุณมาที่ <a href="mailto:ekkazit@gmail.com?subject=สมัครงานในตำแหน่งเจ้าหน้าที่ธุรการ">ekkazit@gmail.com</a> หรือ <a href="mailto:appcodetraining@gmail.com?subject=สมัครงานในตำแหน่งเจ้าหน้าที่ธุรการ">appcodetraining@gmail.com</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2"><strong>โปรแกรมเมอร์ภาษา PHP</strong></a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="mce-style">
                  <h4>หน้าที่รับผิดชอบ</h4>
                  <ul>
                    <li>พัฒนาแอพลิเคชั่นที่ได้รับมอบหมาย โดยใช้ภาษา PHP</li>
                  </ul>
                  <h4>คุณสมบัติหลัก</h4>
                  <ul>
                    <li>จบการศึกษาระดับปริญญาตรี ในสาขาคอมพิวเตอร์ และสาขาอื่นที่เกี่ยวข้อง</li>
                    <li>อายุไม่เกิน 35 ปี</li>
                    <li>มีประสบการณ์เขียน PHP</li>
                    <li>มีประสบการณ์ในการใช้เฟรมเวิร์ค เช่น Laravel, Yii, CakePHP หรืออื่นๆ</li>
                    <li>เขียนติดต่อฐานข้อมูลได้</li>
                    <li>มีความรู้ในคำสั่ง SQL</li>
                    <li>มีความรู้ใน HTML, Bootstrap, CSS และ JavaScript</li>
                    <li>มีประสบการณ์ใช้เครื่องมือในการทำรายงาน เช่น mPDF, fPDF, iReport, Crystal Report หรืออื่นๆ</li>
                    <li>รักในอาชีพโปรแกรมเมอร์</li>
                    <li>ทำงานเป็นทีมได้</li>
                    <li>มีทักษะในการสื่อสาร</li>
                    <li>ทางบริษัทยินดีรับผู้จบใหม่ หรือรับผู้ที่ไม่มีประสบการณ์</li>
                    <li>ทางบริษัทจะอบรมการเขียน PHP อย่างมีมาตรฐาน ก่อนเริ่มงานจริง</li>
                  </ul>
                  <h4>คุณสมบัติรอง</h4>
                  <ul>
                    <li>มีทักษะในการเรียบเรียงหัวข้อเอกสาร</li>
                    <li>มีทักษะด้านการจัดลำดับความสำคัญ และการบริหารเวลา</li>
                    <li>มีทักษะด้านภาษาอังกฤษ เช่น อ่านบทความการเขียนโปรแกรม พอใช้</li>
                    <li>มีตัวอย่างโปรเจ็กต์ที่เคยทำ และตัวอย่างโค้ดมานำเสนอ</li>
                    <li>ใช้โปรแกรม Word, Excel และ PowerPoint ได้</li>
                    <li>ใช้ Version Control เช่น Git Command, GitHub, BitBucket หรืออื่นๆ</li>
                  </ul>
                  <h4>สถานที่ทำงาน</h4>
                  <ul>
                    <li>บริษัท แอพโค้ด เทคโนโลยี จำกัด</li>
                  </ul>
                  <h4>เงินเดือน</h4>
                  <ul>
                    <li>ขึ้นอยู่กับความสามารถ</li>
                  </ul>
                  <h4>การสมัครงาน</h4>
                  <span>ส่ง Resume หรือ CV ของคุณมาที่ <a href="mailto:ekkazit@gmail.com?subject=สมัครงานในตำแหน่งโปรแกรมเมอร์ภาษา PHP">ekkazit@gmail.com</a> หรือ <a href="mailto:appcodetraining@gmail.com?subject=สมัครงานในตำแหน่งโปรแกรมเมอร์ภาษา PHP">appcodetraining@gmail.com</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3"><strong>โปรแกรมเมอร์ภาษา Python</strong></a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="mce-style">
                  <h4>หน้าที่รับผิดชอบ</h4>
                  <ul>
                    <li>พัฒนาแอพลิเคชั่น PosPax และ Odoo ตามที่ได้รับมอบหมายโดยใช้ภาษา Python</li>
                  </ul>
                  <h4>คุณสมบัติหลัก</h4>
                  <ul>
                    <li>จบการศึกษาระดับปริญญาตรี ในสาขาคอมพิวเตอร์ และสาขาอื่นที่เกี่ยวข้อง</li>
                    <li>อายุไม่เกิน 35 ปี</li>
                    <li>มีประสบการณ์เขียน Python</li>
                    <li>มีประสบการณ์ในการใช้เฟรมเวิร์ค เช่น Django, Flask หรืออื่นๆ</li>
                    <li>เขียนติดต่อฐานข้อมูลได้</li>
                    <li>มีความรู้ในคำสั่ง SQL</li>
                    <li>มีความรู้ใน HTML, Bootstrap, CSS และ JavaScript</li>
                    <li>มีประสบการณ์ใช้เครื่องมือในการทำรายงาน เช่น iReport, Crystal Report, BIRT หรืออื่นๆ</li>
                    <li>มีความรู้ใน QR Code, Barcode (ถ้ามี)</li>
                    <li>มีความรู้ในระบบการขาย, ออกบิล, สินค้าคงคลัง หรือระบบการผลิต (ถ้ามี)</li>
                    <li>รักในอาชีพโปรแกรมเมอร์</li>
                    <li>ทำงานเป็นทีมได้</li>
                    <li>มีทักษะในการสื่อสาร</li>
                    <li>ทางบริษัทยินดีรับผู้จบใหม่ หรือรับผู้ที่ไม่มีประสบการณ์</li>
                    <li>ทางบริษัทจะอบรมการเขียน Python อย่างมีมาตรฐาน ก่อนเริ่มงานจริง</li>
                  </ul>
                  <h4>คุณสมบัติรอง</h4>
                  <ul>
                    <li>มีทักษะในการเรียบเรียงหัวข้อเอกสาร</li>
                    <li>มีทักษะด้านการจัดลำดับความสำคัญ และการบริหารเวลา</li>
                    <li>มีทักษะด้านภาษาอังกฤษ เช่น อ่านบทความการเขียนโปรแกรม พอใช้</li>
                    <li>มีตัวอย่างโปรเจ็กต์ที่เคยทำ และตัวอย่างโค้ดมานำเสนอ</li>
                    <li>ใช้โปรแกรม Word, Excel และ PowerPoint ได้</li>
                    <li>ใช้ Version Control เช่น Git Command, GitHub, BitBucket หรืออื่นๆ</li>
                  </ul>
                  <h4>สถานที่ทำงาน</h4>
                  <ul>
                    <li>บริษัท แอพโค้ด เทคโนโลยี จำกัด</li>
                  </ul>
                  <h4>เงินเดือน</h4>
                  <ul>
                    <li>ขึ้นอยู่กับความสามารถ</li>
                  </ul>
                  <h4>การสมัครงาน</h4>
                  <span>ส่ง Resume หรือ CV ของคุณมาที่ <a href="mailto:ekkazit@gmail.com?subject=สมัครงานในตำแหน่งโปรแกรมเมอร์ภาษา Python">ekkazit@gmail.com</a> หรือ <a href="mailto:appcodetraining@gmail.com?subject=สมัครงานในตำแหน่งโปรแกรมเมอร์ภาษา Python">appcodetraining@gmail.com</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="teacher">
        <strong>(ยังไม่เปิดรับสมัครในขณะนี้)</strong>
      </div>
    </div>
  </div>
</section>
{% endblock %}
